dependencies/
**/target/
**/src/main/generated/

# Intellij idea #
*.iws
*.iml
*.ipr
*/.idea/workspace.xml 
*/.idea/tasks.xml

# External corpora / sources
data/ambiguity/sources/
data/ambiguity/source/
